// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #ffffff;
$light-gray: #c7c7c7;
$gray: #ccc;
$dark-gray: #414141;
$dark-dark-gray: #212121;
$black: #000000;
$gray-blue: #686e95;
$light-blue: #f3f7f9;

$link-hover: #d1eded;
$active: #00a8c6
